//
//  AMI-prod.xcconfig
//  AMI
//
//  Created by Aline Bonnet on 09/12/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/ami-back-prod.osc-secnum-fr1.scalingo.io
CURRENT_ENV = PROD

PRODUCT_BUNDLE_IDENTIFIER = fr.gouv.ami
CODE_SIGN_ENTITLEMENTS = targets/production/SupportingFiles/ami.entitlements

// Local.xcconfig can override any settings above
#include? "Local.xcconfig"
