BASE_URL_STRING = "https://backend-url-string.fr/"
OIDC_HOSTS = "host1000.oidc.fr", "host2.oidc.fr" |# OIDC test #2, "host2.oidc.fr" |# OIDC test #3, "host3.oidc.fr" |# OIDC test #4, "host5.oidc.fr" |# OIDC test #5